
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style id="compiled-css" type="text/css">
        header {
            position: relative;
            background-size: cover;
            background-image: url('../Content/bg.jpg');
            background-repeat: no-repeat;
            height: 120vh;
            min-height: 120vh;
            min-width: 100%;
            width: 100%;
            overflow: hidden;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

            header .overlay {
                position: initial;
                top: 0;
                left: 200px;
                height: 100%;
                width: auto;
                opacity: 1.8;
                z-index: 1;
            }
    </style>
</head>
<body>
    <header>
        <div class="container h-75">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-4" style="font-weight:bolder;">Visual Dave Demo Website</h1>
                    <p class="lead mb-0">This site demonstrates multiple coding techniques utilized in modern websites.</p><br />
                    <p class="lead mb-0">This website is coded using... </p>
                    <p class="lead mb-0">Microsoft Core 3.1 MVC, Microsoft SQL Server, Razor, JavaScript, JQuery, Ajax, Dapper, HTML5 and Bootstrap 4</p><br />
                    <p class="lead mb-0">This website was converted and upgraded from a .NET Framework 4.7.2 MVC website application.</p>
                </div>
            </div>
        </div>
    </header>
</body>